.login-container {
  width: 100%;
  height: 90vh;

  background-color: rgb(240, 246, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  width: 18rem;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.login-profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group {
  width: 100%;
  margin-bottom: 10px;
}
.input-form input {
  width: 100%;
  height: 30px;
  padding: 5px;
}
.form-group button {
  width: 100%;
  height: 30px;
  font-weight: bold;
  background-color: #04aa6d;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
